.contenedor{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
}
caption{
  color:  #9E9E9E;;
}
table,th,td{
  margin: auto;
  border: 2px solid  #8BC34A;;
  border-collapse: collapse;
  background-color:  #4CAF50;
  color:  #673AB7;
}
tfoot{
  text-align: center;
}
body{
  background-color: crimson;
}
nav ul a:link, nav ul a:visited{
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
nav ul a:hover{
  color: #555;

}

nav ul{
  list-style: none;
}
.prof{
  width:320px;
  float: right;
}
nav{
  float: left;
  width: 22%;
  height: 349px;

}
.biografia{
border-left: 2px solid #888;
margin: auto;
float: right;
width: 76%;

}
header, footer{
  background-color: #444;
  color: white;
}
header{
  text-align: center;
  height: 50px;
  padding: 10px 20px;
}
footer{
  text-align: left;
  clear: right;
  padding: 10px;
  }
